<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Task Management{% endblock %}</title>
    {% load static %}

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">

</head>
<body>

    <header>
        <h1>{% block header %}Welcome to Task Management{% endblock %}</h1>
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">Home</a></li>
                <li><a href="{% url 'task_list' %}">List Task</a></li>
                <!-- Example link in another template -->
                <li><a href="{% url 'add_task' %}">Add Task</a></li>

                <!-- Add more navigation links as needed -->
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <!-- <footer>
        <p>&copy; 2023 My Website. All rights reserved.</p>
    </footer> -->

</body>
</html>
